@-webkit-keyframes progress-menu-card {
  from {
    opacity: 0%;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes progress-menu-card {
  from {
    opacity: 0%;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes flash {
  0% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
  30% {
    color: white;
    text-shadow: none;
  }
  33% {
    color: #FF79DA;
    text-shadow: 0 0 7px #9356DC;
  }
  63% {
    color: white;
    text-shadow: none;
  }
  66% {
    color: #38c4a1;
    text-shadow: 0 0 7px #9356DC;
  }
  96% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
}

@keyframes flash {
  0% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
  30% {
    color: white;
    text-shadow: none;
  }
  33% {
    color: #FF79DA;
    text-shadow: 0 0 7px #9356DC;
  }
  63% {
    color: white;
    text-shadow: none;
  }
  66% {
    color: #38c4a1;
    text-shadow: 0 0 7px #9356DC;
  }
  96% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
}

@-webkit-keyframes visible {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes visible {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes bump {
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes bump {
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Shrikhand';
  src: url("/src/font/Shrikhand/Shrikhand-Regular.ttf");
}

@font-face {
  font-family: 'RobotoRegular';
  src: url("/src/font/Roboto/Roboto-Regular.ttf");
}

body {
  font-family: 'RobotoRegular', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
}

/*@media screen and (min-width: 900px){
    body{
        background-color: white;
    }
}*/
.loader-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: #333333;
  overflow: hidden;
  -webkit-animation: visible 1s 3s linear forwards;
          animation: visible 1s 3s linear forwards;
}

.loaderdot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loaderdot-dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  margin: 0 40px;
  -webkit-animation: bump infinite 0.4s alternate;
          animation: bump infinite 0.4s alternate;
}

.loaderdot-dot:nth-child(1) {
  background-color: white;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loaderdot-dot:nth-child(2) {
  background-color: #9356DC;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loaderdot-dot:nth-child(3) {
  background-color: #FF79DA;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loaderdot-dot:nth-child(4) {
  background-color: #99E2D0;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loaderdot-dot:nth-child(5) {
  background-color: white;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@media screen and (max-width: 650px) {
  .loaderdot-dot {
    width: 40px;
    height: 40px;
    margin: 0 25px;
  }
}

@media screen and (max-width: 450px) {
  .loaderdot-dot {
    width: 35px;
    height: 35px;
    margin: 0 15px;
  }
}

.loadertxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0;
}

.loadertxt-lettre {
  color: white;
  font-size: 80px;
  letter-spacing: 15px;
  -webkit-animation: flash 4s linear forwards infinite;
          animation: flash 4s linear forwards infinite;
}

.loadertxt-lettre:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loadertxt-lettre:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loadertxt-lettre:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loadertxt-lettre:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loadertxt-lettre:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loadertxt-lettre:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loadertxt-lettre:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loadertxt-lettre:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loadertxt-lettre:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@media screen and (max-width: 650px) {
  .loadertxt-lettre {
    font-size: 60px;
    letter-spacing: 10px;
  }
}

@media screen and (max-width: 450px) {
  .loadertxt-lettre {
    font-size: 45px;
    letter-spacing: 7px;
  }
}

.btn {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  border: none;
  color: white;
  background: #ff79da;
  background: linear-gradient(176deg, #ff79da 0%, #b561db 70%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.guide-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  height: 70px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f2f2f2;
  margin: 0 0 20px 0;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.guide-card:hover {
  background-color: #f2eafb;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.guide-card:hover .guide-card-icone {
  color: #9356DC;
}

.guide-card-title {
  font-size: 1rem;
}

.guide-card-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  position: absolute;
  left: -11px;
  color: white;
  background-color: #9356DC;
  border-radius: 20px;
}

.guide-card-icone {
  color: #737373;
  position: absolute;
  left: 12%;
}

@media screen and (min-width: 1130px) and (max-width: 2000px) {
  .guide-card {
    margin: 0 20px 0 0;
  }
  .guide-card:nth-child(3) {
    margin-right: 0;
  }
}

@media screen and (min-width: 2001px) {
  .guide-card {
    margin: 0 40px 0 0;
  }
  .guide-card:nth-child(3) {
    margin-right: 0;
  }
}

.restaurant-card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 350px;
  height: 250px;
  display: block;
  text-decoration: none;
  background-color: white;
  margin: 0 0 20px 0;
  border-radius: 12px;
  position: relative;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.restaurant-card:visited {
  color: inherit;
}

.restaurant-card:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.restaurant-card-alert {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: auto;
  left: auto;
  background-color: #D1E7DD;
  padding: 5px 10px 5px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #3f7a5f;
  border-radius: 5px;
}

.restaurant-card-img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.restaurant-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30%;
  padding: 0 15px 0 15px;
  margin-top: -5px;
}

.restaurant-card-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 100%;
}

.restaurant-card-txt-title {
  font-size: 1rem;
  margin: 0 0 5px 0;
}

.restaurant-card-txt-loc {
  font-size: 0.9rem;
  margin: 0;
}

@media screen and (min-width: 780px) and (max-width: 979px) {
  .restaurant-card:nth-child(1) {
    margin-right: 20px;
  }
  .restaurant-card:nth-child(3) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 980px) and (max-width: 1500px) {
  .restaurant-card {
    width: 450px;
    margin-bottom: 40px;
  }
  .restaurant-card:nth-child(1) {
    margin-right: 40px;
  }
  .restaurant-card:nth-child(3) {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
  .restaurant-card {
    width: 350px;
    margin: 0 20px 0 0;
  }
  .restaurant-card:nth-child(4) {
    margin: 0;
  }
}

@media screen and (min-width: 2001px) {
  .restaurant-card {
    width: 350px;
    margin: 0 40px 0 0;
  }
  .restaurant-card:nth-child(4) {
    margin: 0;
  }
}

.menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  background-color: white;
  margin: 20px 0 20px 0;
  padding: 0 0 0 15px;
  border-radius: 12px;
  height: 60px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-card-content {
  width: 70%;
}

.menu-card-title {
  margin: 10px 0 5px 0;
  font-size: 1rem;
  font-weight: bold;
}

.menu-card-desc {
  margin: 0 0 10px 0;
  font-size: 0.9rem;
  font-weight: lighter;
}

.menu-card:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu-card:hover .menu-card-valid {
  width: 60px;
}

.menu-card:hover .menu-card-valid-icone {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 1;
}

.menu-card-valid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0;
  height: 100%;
  border-radius: 0 12px 12px 0;
  background-color: #99E2D0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-card-valid-icone {
  color: white;
  font-size: 20px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
}

.menu-card:nth-child(2) {
  -webkit-animation: progress-menu-card 0.8s 0.1s both ease-in-out;
          animation: progress-menu-card 0.8s 0.1s both ease-in-out;
}

.menu-card:nth-child(3) {
  -webkit-animation: progress-menu-card 0.8s 0.2s both ease-in-out;
          animation: progress-menu-card 0.8s 0.2s both ease-in-out;
}

.menu-card:nth-child(4) {
  -webkit-animation: progress-menu-card 0.8s 0.3s both ease-in-out;
          animation: progress-menu-card 0.8s 0.3s both ease-in-out;
}

.menu-card:nth-child(5) {
  -webkit-animation: progress-menu-card 0.8s 0.4s both ease-in-out;
          animation: progress-menu-card 0.8s 0.4s both ease-in-out;
}

@media screen and (min-width: 1390px) {
  .menu-card {
    margin-bottom: 30px;
  }
}

.restaurant-card-container-icon {
  width: 25px;
  height: 25px;
  position: relative;
}

.restaurant-card-icon {
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0%;
  background: #ff79da;
  background: linear-gradient(176deg, #ff79da 0%, #b561db 70%);
  background-clip: text;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.restaurant-card-icon:hover {
  opacity: 100%;
}

.restaurant-card-icon:hover > .restaurant-card-icon-border {
  opacity: 0%;
}

.restaurant-card-icon-border {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.header {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  text-align: center;
  position: relative;
}

.header-logo {
  margin: 10px 0 10px 0;
}

.header-link {
  position: absolute;
  top: 18px;
  right: auto;
  bottom: auto;
  left: 10%;
  color: black;
  height: 100%;
}

.header-link:visited {
  color: inherit;
}

.header-link-icone {
  font-size: 1.5rem;
}

.localisation {
  text-align: center;
}

.localisation-user {
  padding: 10px 0 10px 0;
  background-color: #e5e5e5;
}

.localisation-research {
  background-color: #f2f2f2;
}

.localisation-title {
  margin: 0;
  padding: 50px 60px 30px 60px;
  font-size: 1.5rem;
}

.localisation-txt {
  margin: 0;
  padding: 0 30px 30px 30px;
}

.localisation-btn {
  margin: 0 0 50px 0;
}

.footer {
  padding: 50px 0 50px 0;
  text-align: center;
  color: white;
  background-color: #333333;
}

.footer-logo {
  height: 20px;
  margin-bottom: 20px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-item {
  margin-bottom: 10px;
}

.footer-item:nth-child(4) {
  margin-bottom: 0;
}

.footer-item:nth-child(1) {
  font-weight: bold;
}

.footer-item:nth-child(2) {
  font-weight: bold;
}

.footer-icone {
  margin-right: 10px;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.footer-link:visited {
  color: inherit;
}

@media screen and (min-width: 900px) {
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -80px;
    height: 250px;
  }
}

.menu-img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.menu-content {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  background-color: #f2f2f2;
  padding: 30px 15px 0 15px;
  border-radius: 40px 40px 0 0;
  z-index: 2;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-title {
  margin: 0;
  font-size: 1.5rem;
}

.menu-div {
  margin-top: 30px;
}

.menu-div-title {
  margin: 0;
  font-size: 1.1rem;
  font-weight: lighter;
}

.menu-div-title::after {
  width: 45px;
  height: 3px;
  content: "";
  display: block;
  background-color: #99E2D0;
  margin-top: 5px;
}

.menu-btn {
  text-align: center;
  margin-top: 50px;
}

@media screen and (min-width: 440px) {
  .menu-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-header {
    width: 410px;
  }
  .menu-div {
    width: 410px;
  }
}

@media screen and (min-width: 900px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-content {
    width: 800px;
    border-radius: 40px;
    padding: 30px 15px 30px 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

@media screen and (min-width: 1390px) {
  .menu-img {
    height: 350px;
  }
  .menu-flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-content {
    width: 1310px;
    padding: 60px 40px 60px 40px;
  }
  .menu-div {
    margin-top: 60px;
  }
  .menu-div:nth-child(1) {
    margin-right: 40px;
  }
  .menu-div:nth-child(2) {
    margin-right: 40px;
  }
  .menu-div-title {
    margin-bottom: 40px;
  }
  .menu-btn {
    margin-top: 40px;
  }
}

.guide {
  background-color: white;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.guide-title {
  font-size: 1.5rem;
  padding-top: 50px;
  margin: 0 0 30px 0;
}

.restaurant {
  background-color: #f2f2f2;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-title {
  padding: 50px 0 0 0;
  margin: 0 0 30px 0;
}

.restaurant-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 780px) {
  .restaurant-flex {
    width: 720px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 980px) and (max-width: 1499px) {
  .restaurant-flex {
    width: 940px;
  }
}

@media screen and (min-width: 1130px) and (max-width: 2000px) {
  .guide-flex {
    width: 1090px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1500px) and (max-width: 2000px) {
  .restaurant {
    padding-bottom: 80px;
  }
  .restaurant-flex {
    width: 1460px;
  }
  .restaurant-title {
    padding: 80px 0 0 0;
  }
  .guide {
    padding-bottom: 80px;
  }
  .guide-title {
    padding: 80px 0 0 0;
  }
}

@media screen and (min-width: 2001px) {
  .restaurant {
    padding-bottom: 80px;
  }
  .restaurant-flex {
    width: 1520px;
  }
  .restaurant-title {
    padding: 80px 0 0 0;
  }
  .guide {
    padding-bottom: 80px;
  }
  .guide-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1130px;
  }
  .guide-title {
    padding: 80px 0 0 0;
  }
}
