@mixin shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin shadow-hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@mixin loadercircle-before-after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 5px solid transparent;
}

@mixin width-height ($width, $height) {
    width: $width;
    height: $height;
}

@mixin top-right-bottom-left ($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin flex-direction-justify-align ($direction:row, $justify-content:center, $align-items:center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}