.restaurant-card{
    background-color: white;
    margin: 0 0 20px 0;
    height: 250px;
    border-radius: 20px;
    &-img{
        object-fit: cover;
        height: 70%;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
    &-content{
        height: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px 0 15px;
        margin-top: -5px;
    }
    &-txt{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-title{
            margin: 0 0 5px 0;
        }
        &-loc{
            margin: 0;
        }
    }
}