.footer{
    padding: 50px 0 50px 0;
    text-align: center;
    color: white;
    background-color: darken($color: $color-background, $amount: 75%);
    &__logo{
        height: 20px;
        margin-bottom: 20px;
    }
    &__list{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__item{
        margin-bottom: 10px;
        &:nth-child(4){
            margin-bottom: 0;
        }
        &:nth-child(1){
            font-weight: bold;
        }
        &:nth-child(2){
            font-weight: bold;
        }
    }
    &__icone{
        margin-right: 10px;
    }
    &__link{
        text-decoration: none;
        color: white;
        &:visited{
            color: inherit;
        }
    }
}

@media screen and (min-width: 900px) {
    .footer--menu{
        @include flex-direction-justify-align(column, center, center);
        margin-top: -80px;
        height: 250px;
    }
}