.menu{
    &__img{
        @include width-height(100%, 270px);
        object-fit: cover;
        z-index: 1;
    }
    &__content{
        transform: translateY(-40px);
        background-color: $color-background;
        padding: 30px 15px 0 15px;
        border-radius: 40px 40px 0 0;
        z-index: 2;
    }
    &__header{
        @include flex-direction-justify-align(row, space-between, center);
        &__title{
            margin: 0;
            font-size: 1.5rem;
        }
    }
    &__group{
        margin-top: 30px;
        &__title{
            margin: 0;
            font-size: 1.1rem;
            font-weight: lighter;
            &::after{
                @include width-height(45px, 3px);
                content: "";
                display: block;
                background-color: $color-tertiary;
                margin-top: 5px;
            }
        }
    }
    &__btn{
        text-align: center;
        margin-top: 50px;
    }
}

@media screen and (min-width: 440px) {
    .menu{
        &__content{
            @include flex-direction-justify-align(column, flex-start, center);
        }
        &__header{
            width: 410px;
        }
        &__group{
            width: 410px;
        }
    }
}

@media screen and (min-width: 900px) {
    .menu{
        @include flex-direction-justify-align(column, flex-start, center);
        &__content{
            width: 800px;
            border-radius: 40px;
            padding: 30px 15px 30px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}

@media screen and (min-width: 1390px) {
    .menu{
        &__img{
            height: 350px;
        }
        &--flex{
            width: 100%;
            display: flex;
        }
        &__content{
            width: 1310px;
            padding: 60px 40px 60px 40px;
        }
        &__group{
            margin-top: 60px;
            @for $i from 1 through 2{
                &:nth-child(#{$i}){
                    margin-right: 40px;
                }
            }
            &__title{
                margin-bottom: 40px;
            }
        }
        &__btn{
            margin-top: 40px;
        }
    }
}