.restaurant-card{
    display: block;
    text-decoration: none;
    background-color: white;
    margin: 0 0 20px 0;
    height: 250px;
    width: 350px;
    border-radius: 12px;
    position: relative;
    color: black;
    @include shadow;
    &:visited{
        color: inherit;
    }
    &:hover{
        @include shadow-hover;
    }
    &-alert{
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $color-alert;
        padding: 5px 10px 5px 10px;
        font-size: 0.8rem;
        font-weight: bold;
        color: darken($color: $color-alert, $amount: 50%);
        border-radius: 5px;
    }
    &-img{
        object-fit: cover;
        height: 70%;
        width: 100%;
        border-radius: 12px 12px 0 0;
    }
    &-content{
        height: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px 0 15px;
        margin-top: -5px;
    }
    &-txt{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-title{
            font-size: 1rem;
            margin: 0 0 5px 0;
        }
        &-loc{
            font-size: 0.9rem;
            margin: 0;
        }
    }
}

@media screen and (min-width: 780px) and (max-width: 979px) {
    .restaurant-card{
        &:nth-child(1){
            margin-right: 20px;
        }
        &:nth-child(3){
            margin-right: 20px;
        }
    }
}


@media screen and (min-width: 980px) and (max-width: 1500px)  {
    .restaurant-card{
        width: 450px;
        margin-bottom: 40px;
        &:nth-child(1){
            margin-right: 40px;
        }
        &:nth-child(3){
            margin-right: 40px;
        }
    }
}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
    .restaurant-card{
        width: 350px;
        margin: 0 20px 0 0;
        &:nth-child(4){
            margin: 0;
        }
    }
}

@media screen and (min-width: 2001px) {
    .restaurant-card{
        width: 350px;
        margin: 0 40px 0 0;
        &:nth-child(4){
            margin: 0;
        }
    }
}