.guide-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-background;
    margin: 0 0 20px 0;
    height: 70px;
    border-radius: 20px;
    position: relative;
    @include shadow;
    cursor: pointer;
    &:nth-child(4){
        margin: 0 0 50px 0;
    }
    &:hover{
        background-color: lighten($color: $color-primary, $amount: 35%);
        .guide-card-icone{
            color: $color-primary;
        }
    }
    &-title{
        font-size: 1rem;
    }
    &-number{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -11px;
        color: white;
        background-color: $color-primary;
        height: 25px;
        width: 25px;
        border-radius: 20px;
    }
    &-icone{
        color: darken($color: $color-background, $amount: 50%);
        position: absolute;
        left: 12%;
    }
}