.loadercircle{
    @include width-height(200px, 200px);
    @include flex-direction-justify-align;
}

.circle{
    @include width-height(150px, 150px);
    display: block;
    position: relative;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: $color-primary;
    animation: spin 2s linear infinite;
    background-color: transparent;
    &::before{
        @include loadercircle-before-after;
        @include top-right-bottom-left(10px, 10px, 10px, 10px);
        border-top-color: $color-secondary;
        animation: spin 3s linear infinite;
        background-color: transparent;
    }
    &::after{
        @include loadercircle-before-after;
        @include top-right-bottom-left(25px, 25px, 25px, 25px);
        border-top-color: $color-tertiary;
        animation: spin 1.5s linear infinite;
        background-color: transparent;
    }
}