.loadertxt{
    @include flex-direction-justify-align;
    margin: 100px 0;
    &-lettre{
        color: white;
        font-size: 80px;
        letter-spacing: 15px;
        animation: flash 4s linear forwards infinite;
        @for $i from 1 through 9{
            &:nth-child(#{$i}){
                animation-delay: #{$i / 10}s;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .loadertxt{
        &-lettre{
            font-size: 60px;
            letter-spacing: 10px;
        }
    }
}

@media screen and (max-width: 450px) {
    .loadertxt{
        &-lettre{
            font-size: 45px;
            letter-spacing: 7px;
        }
    }
}