.loaderdot{
    @include flex-direction-justify-align;
    &__dot{
        @include width-height(50px, 50px);
        border-radius: 50%;
        background-color: black;
        margin: 0 40px;
        animation: bump infinite 0.4s alternate;
        &:nth-child(1){
            background-color: white;
            animation-delay: 0.1s;
        }
        &:nth-child(2){
            background-color: $color-primary;
            animation-delay: 0.2s;
        }
        &:nth-child(3){
            background-color: $color-secondary;
            animation-delay: 0.3s;
        }
        &:nth-child(4){
            background-color: $color-tertiary;
            animation-delay: 0.4s;
        }
        &:nth-child(5){
            background-color: white;
            animation-delay: 0.5s;
        }
    }
}

@media screen and (max-width: 650px) {
    .loaderdot{
        &__dot{
            @include width-height(40px, 40px);
            margin: 0 25px;
        }
    }
}

@media screen and (max-width: 450px) {
    .loaderdot{
        &__dot{
            @include width-height(35px, 35px);
            margin: 0 15px;
        }
    }
}