.loader__box{
    @include flex-direction-justify-align(column);
    @include width-height(100%, 100%);
    position: absolute;
    z-index: 1;
    background-color: darken($color: $color-background, $amount: 75%);
    overflow: hidden;
    animation: visible 1s 3s linear forwards;
}


