.menu-card{
    @include flex-direction-justify-align(row, space-between, center);
    @include shadow;
    cursor: pointer;
    background-color: white;
    margin: 20px 0 20px 0;
    padding: 0 0 0 15px;
    border-radius: 12px;
    height: 60px;
    overflow: hidden;
    &-content{
        width: 70%;
    }
    &-title{
        margin: 10px 0 5px 0;
        font-size: 1rem;
        font-weight: bold;
    }
    &-desc{
        margin: 0 0 10px 0;
        font-size: 0.9rem;
        font-weight: lighter;
    }
    &:hover{
        @include shadow-hover;
        & .menu-card-valid {
            width: 60px;
            &-icone{
                transform: rotate(360deg);
                opacity: 1;
            }
        }
    }

    &-valid{
        @include flex-direction-justify-align(row, center, center);
        @include width-height(0, 100%);
        border-radius: 0 12px 12px 0;
        background-color: $color-tertiary;
        transition: all 0.5s ease-in-out;
        &-icone{
            color: white;
            font-size: 20px;
            opacity: 0;
            transition: all 0.5s ease-in-out 0.1s;
        }
    }
    &:nth-child(2){
        animation: progress-menu-card 0.8s both ease-in-out;
    }
    &:nth-child(3){
        animation: progress-menu-card 0.8s 0.2s both ease-in-out;
    }
    &:nth-child(4){
        animation: progress-menu-card 0.8s 0.4s both ease-in-out;
    }
    &:nth-child(5){
        animation: progress-menu-card 0.8s 0.6s both ease-in-out;
    }
}

@media screen and (min-width: 1390px){
    .menu-card{
        margin-bottom: 30px;
    }
}