.menu__card{
    @include flex-direction-justify-align(row, space-between, center);
    @include shadow;
    cursor: pointer;
    background-color: white;
    margin: 20px 0 20px 0;
    padding: 0 0 0 15px;
    border-radius: 12px;
    height: 60px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    &__content{
        width: 70%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__title{
        margin: 10px 0 5px 0;
        font-size: 1rem;
        font-weight: bold;
    }
    &__desc{
        margin: 0 0 10px 0;
        font-size: 0.9rem;
        font-weight: lighter;
    }
    &:hover{
        @include shadow-hover;
        & .menu__card__valid {
            width: 60px;
            &__icone{
                transform: rotate(360deg);
                opacity: 1;
            }
        }
    }
    &__valid{
        @include flex-direction-justify-align(row, center, center);
        @include width-height(0, 100%);
        border-radius: 0 12px 12px 0;
        background-color: $color-tertiary;
        transition: all 0.5s ease-in-out;
        &__icone{
            color: white;
            font-size: 20px;
            opacity: 0;
            transition: all 0.5s ease-in-out 0.1s;
        }
    }
    @for $i from 1 through 4{
        &:nth-child(#{$i + 1}){
            animation: progress-menu-card 0.8s #{$i / 10}s both ease-in-out;
        }
    }
}

@media screen and (min-width: 1390px){
    .menu__card{
        margin-bottom: 30px;
    }
}

